<div class="conteudo">
    <div id="container-login">
        <h1> Imagem </h1>
    </div>
        
    <div id="form">
    <form>
        <input type="text" name="email" id="nomes" placeholder="E-mail" required>
        <input type="password" name="criarsenha" id="senha" placeholder="Criar senha" required>
        <input type="password" name="confirmarsenha" id="senha" placeholder="Confirmar senha" required>
    </form>
    </div>
        
    <div id="centralizador">
    <button type="submit" onclick="login()" value="Entrar" id="btn-login">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
    </button>
    </div>
</div>
    