<div class="product-row">

     <div class="product-item" 
     (mouseenter)="onHover(3, true)" 
     (mouseleave)="onHover(3, false)">
  <svg class="highlight-circle" 
       [class.active]="hovered[3]" 
       xmlns="http://www.w3.org/2000/svg" 
       viewBox="0 0 100 100">
    <circle cx="50" cy="50" r="50" />
  </svg>
  <img class="product-image" 
       src="img/moletom-protheus.png" 
       alt="T-shirt Blanc">
  <div class="product-details">
    <h2>MOLETOM</h2>
    <span>335,00</span>
  </div>
  <button class="buy-button" 
          [class.active]="hovered[3]">COMPRAR</button>
 </div>

  
    <!-- Produto 2 -->
    <div class="product-item" 
         (mouseenter)="onHover(1, true)" 
         (mouseleave)="onHover(1, false)">
      <svg class="highlight-circle" 
           [class.active]="hovered[1]" 
           xmlns="http://www.w3.org/2000/svg" 
           viewBox="0 0 100 100">
        <circle cx="50" cy="50" r="50" />
      </svg>
      <img class="product-image" 
           src="img/pin-protheus.png"  
           alt="Sac Banane">
      <div class="product-details">
        <h2>PIN ONÇA PRETA</h2>
        <span>10,00</span>
      </div>
      <button class="buy-button" 
              [class.active]="hovered[1]">COMPRAR</button>
    </div>
  
    <!-- Produto 3 -->
    <div class="product-item" 
         (mouseenter)="onHover(2, true)" 
         (mouseleave)="onHover(2, false)">
      <svg class="highlight-circle" 
           [class.active]="hovered[2]" 
           xmlns="http://www.w3.org/2000/svg" 
           viewBox="0 0 100 100">
        <circle cx="50" cy="50" r="50" />
      </svg>
      <img class="product-image" 
           src="img/camiseta-protheus.png"  
           alt="Casquette">
      <div class="product-details">
        <h2>CAMISETA</h2>
        <span>120,00</span>
      </div>
      <button class="buy-button" 
              [class.active]="hovered[2]">COMPRAR</button>
    </div>
  

    <div class="product-item" 
    (mouseenter)="onHover(0, true)" 
    (mouseleave)="onHover(0, false)">
 <svg class="highlight-circle" 
      [class.active]="hovered[0]" 
      xmlns="http://www.w3.org/2000/svg" 
      viewBox="0 0 100 100">
   <circle cx="50" cy="50" r="50" />
 </svg>
 <img class="product-image" 
      src="img/cartela-adesivo.png"  
      alt="Casquette">
 <div class="product-details">
   <h2>CARTELA ADESIVO</h2>
   <span>10,00</span>
 </div>
 <button class="buy-button" 
         [class.active]="hovered[0]">COMPRAR</button>
</div>
</div>

<div class="c-border"></div>