
/* cards de itens */

.container-card {
  display: flex; /* Usa flexbox para o card se expandir e preencher o espaço disponível */
  flex-direction: column; /* Os itens dentro do card devem ser empilhados na vertical */
  justify-content: space-between; /* Alinha o conteúdo verticalmente */
  height: 100%; /* Faz com que todos os cards tenham a mesma altura */
}
  
  .card {
    border: none;
    background-color: #ffffff; /* Fundo branco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s;
    height: 100%; /* Garantir que o card ocupe toda a altura disponível */
  }

.centralizar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    column-gap: 4;/* Quatro colunas de tamanho igual */
    gap: 1rem; /* Espaçamento entre os cards */
    justify-items: center; /* Alinha os cards horizontalmente no centro */
    align-items: center; /* Alinha os cards verticalmente no centro */
    margin-top: 4rem;
    grid-auto-rows: 1fr; /* As linhas terão a mesma altura */
}
  
  .card:hover {
    transform: translateY(-3px);
  }
  
  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

  }
  
  .card-body {
    text-align: center;
    padding: 0.8rem;
    margin-top: -1.2rem;
    font-family: 'Roboto', sans-serif;
  }
  
  .card-title {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.4rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
  }
  
  .card-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.8rem;
    font-family: 'Roboto', sans-serif;
  }
  
  .btn{
    background: #49176d;
    border: none;
    color: #fff;
    padding: 0.4rem 1.2rem;
    font-size: 1rem;
    border-radius: 20px;
    transition: background-color 0.3s;
    text-decoration: none;
    letter-spacing: 1px;
  }
  
  .btn-dark:hover {
    background: #555;
  }
  


img{
    width: 280px;
    height: 280px;
    margin-top: 1rem;
}

