
  <div class="container">
    <div class="word">
      <span class="letter">L</span>
      <span class="letter">O</span>
      <span class="letter">J</span>
      <span class="letter">A</span>
      <span>&nbsp;</span>
      <span class="letter">D</span>
      <span class="letter">O</span>
      <span>&nbsp;</span>
      <span class="letter">I</span>
      <span class="letter">O</span>
      <span class="letter">S</span>
    </div>
  </div>

  <div class="container-faixa">
    <div class="rotating-banner">
        <div class="banner-content">
            <span>LANÇAMENTO</span>
            <img src="img/bichinho-rodando.gif" alt="Image 1">
            <span>LANÇAMENTO</span>
            <img src="img/bichinho-roxo.gif" alt="Image 2">
            <span>LANÇAMENTO</span>
            <img src="img/bichinho-rodando.gif" alt="Image 3">
            <span>LANÇAMENTO</span>
            <img src="img/bichinho-roxo.gif" alt="Image 1">
            <span>LANÇAMENTO</span>
            <img src="img/bichinho-rodando.gif" alt="Image 2">
            <span>LANÇAMENTO</span>
            <img src="img/bichinho-roxo.gif" alt="Image 3">
            <span>LANÇAMENTO</span>
            <img src="img/bichinho-rodando.gif" alt="Image 1">
            <span>LANÇAMENTO</span>
            <img src="img/bichinho-roxo.gif" alt="Image 2">
            <span>LANÇAMENTO</span>
            <img src="img/bichinho-rodando.gif" alt="Image 3">
            <span>LANÇAMENTO</span>
            <img src="img/bichinho-roxo.gif" alt="Image 1">
            <span>LANÇAMENTO</span>
            <img src="img/bichinho-rodando.gif" alt="Image 2">
            <span>LANÇAMENTO</span>
            <img src="img/bichinho-roxo.gif" alt="Image 3">
        </div>
    </div>


  

