
  
  <div class="container-animacao">
    <div class="word">
      <span class="letter">L</span>
      <span class="letter">O</span>
      <span class="letter">J</span>
      <span class="letter">A</span>
      <span>&nbsp;</span>
      <span class="letter">D</span>
      <span class="letter"><img src="img/bichinho-piscando.gif" class="bichinho-piscando"></span>
      <span>&nbsp;</span>
      <span class="letter">I</span>
      <span class="letter">O</span>
      <span class="letter">S</span>
      <img class="canto-esquerdo" src="img/animacao-inicial.svg" alt="">
      <img class="canto-direito" src="img/animacao-inicial.svg" alt="">
    </div>
  </div>

  

  <div class="container-faixa">
    <div class="rotating-banner">
        <div class="banner-content">
            <span>LINHA PROTHEUS</span>
            <img src="img/oncinha-teste.png" alt="Image 1">
            <span>LINHA PROTHEUS</span>
            <img src="img/oncinha-teste.png" alt="Image 2">
            <span>LINHA PROTHEUS</span>
            <img src="img/oncinha-teste.png" alt="Image 3">
            <span>LINHA PROTHEUS</span>
            <img src="img/oncinha-teste.png" alt="Image 1">
            <span>LINHA PROTHEUS</span>
            <img src="img/oncinha-teste.png" alt="Image 2">
            <span>LINHA PROTHEUS</span>
            <img src="img/oncinha-teste.png" alt="Image 3">
            <span>LINHA PROTHEUS</span>
            <img src="img/oncinha-teste.png" alt="Image 1">
            <span>LINHA PROTHEUS</span>
            <img src="img/oncinha-teste.png" alt="Image 2">
            <span>LINHA PROTHEUS</span>
            <img src="img/oncinha-teste.png" alt="Image 3">
            <span>LINHA PROTHEUS</span>
            <img src="img/oncinha-teste.png" alt="Image 1">
            <span>LINHA PROTHEUS</span>
            <img src="img/oncinha-teste.png" alt="Image 2">
            <span>LINHA PROTHEUS</span>
            <img src="img/oncinha-teste.png" alt="Image 3">
        </div>
    </div>


  


