@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Titan+One&display=swap');

.container {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #49176d;
}

.word {
  font-family: 'Titan One';
  font-size: 8rem;
  color: white;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.letter {
  display: inline-block;
  transition: transform 0.3s ease; /* Transição suave para o efeito hover */
}

.letter:hover {
  animation: bounce 1s ease; /* Animação de queda e subida apenas no hover */
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px); /* A letra sobe */
  }
  75% {
    transform: translateY(40px); /* A letra desce um pouco para simular a queda */
  }
  100% {
    transform: translateY(0); /* Retorna ao estado inicial */
  }
}



/* faixa que roda */


.container-faixa {
  width: 100%;
  background-color: #7faece;
  padding: 10px 0;
  border: solid 5px rgb(250, 200, 36);
}
.rotating-banner {
  width: 100%;
  overflow: hidden;
  color: #000;
  position: relative;
  box-sizing: border-box;
}
.banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scroll 20s linear infinite;
  font-family: 'Roboto flex';
  font-weight: 500;
}
.banner-content span, .banner-content img {
  white-space: nowrap;
  margin: 0 20px;
  font-size: 1.2em;
}
.banner-content img {
  height: 40px; 
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

