
<div class="container-login">
  <div id="home">
    <a href="/">
      <img src="img/home.png" alt="Logo Home">
      <!-- <p>Home</p> -->
    </a>
  </div>

    <div id="login">
      <h1> SEJA BEM-VINDO(A)! </h1>
      <h3>FAÇA SEU LOGIN</h3>
    </div>
            
    <div id="botaorosa">
      <a  routerLink="/login"  class="botao">Fazer Login</a>
    </div>
        
    <div id="botaoazul">
      <a routerLink="/cadastro" class="botao">Criar conta</a>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  
  
  